.btn {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 0.625rem 1.875rem;
  border: 0;
  color: var(--color-white);
  font-size: 1.25rem;
  border: 2px solid transparent;
  border-color: var(--color-black);
  color: var(--color-white);
  background: transparent;
  font-weight: 800;
  line-height: 1.875rem;
  transition: background, color 0.1s ease-in-out;
}

.btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
