.footer {
  width: 100%;
//   background-color: var(--color-black);
  transform: translateZ(0) scale(1);
  z-index: 10;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 3rem;

 

  img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
  }
}

.footer-creator {
  width: 100%;
  background-color: var(--color-gray-darkest);
  height: 3rem;
  display: grid;
  place-items: center;
  a {
    color: green;
  }
}
