// preloader
.preloader {
  width: 100vw;
  height: 100vh;
  // background-color: #10101a;
  background-color: var(--color-black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-content: center;
}

.loader {
  position: relative;
  text-decoration: none;
  padding: 3rem;
  height: 5rem;
  width: 16rem;
  overflow: hidden;
  margin: 25px;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;

  border: 1px solid transparent;
  display: grid;
  span {
    position: absolute;
    display: block;

    &:nth-child(1) {
      filter: hue-rotate(0deg);
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(90deg, transparent, #3a86ff);
      animation: animate1 1s linear infinite;
    }
    @keyframes animate1 {
      0% {
        left: -100%;
      }
      50%,
      100% {
        left: 100%;
      }
    }

    &:nth-child(2) {
      filter: hue-rotate(60deg);
      top: -100%;
      right: 0;
      width: 3px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #3a86ff);
      animation: animate2 1s linear infinite;
      animation-delay: 0.25s;
    }

    @keyframes animate2 {
      0% {
        top: -100%;
      }
      50%,
      100% {
        top: 100%;
      }
    }
    &:nth-child(3) {
      filter: hue-rotate(120deg);
      bottom: 0;
      right: 0;
      width: 100%;

      background: linear-gradient(270deg, transparent, #3a86ff);
      animation: animate3 1s linear infinite;
      animation-delay: 0.5s;
    }
    @keyframes animate3 {
      0% {
        right: -100%;
        height: 3px;
      }
      50%,
      100% {
        height: 2px;
        right: 100%;
      }
    }

    &:nth-child(4) {
      filter: hue-rotate(300deg);
      bottom: -100%;
      left: 0;
      width: 3px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #3a86ff);
      animation: animate4 1s linear infinite;
      animation-delay: 0.75s;
    }
    @keyframes animate4 {
      0% {
        bottom: -100%;
      }
      50%,
      100% {
        bottom: 100%;
      }
    }

    &:last-child {
      place-self: center;
    }
  }
}

// Sponsor
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.text-fill {
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  //   margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  /* Clip Background Image */

  background: url(/images/css/animated-text-fill-purple.webp) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.text-fill-blue {
  background: url(/images/css/animated-text-fill-blue.webp) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.text-fill-light-purple {
  background: url(/images/css/animated-text-fill-light-purple.webp) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.text-fill-navy-blue {
  background: url(/images/css/animated-text-fill-navy-blue.webp) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
