// preloader
.preloader {
  width: 100vw;
  height: 100vh;
  // background-color: #10101a;
  background-color: #3b3350;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-content: center;
}

.loader {
  position: relative;
  text-decoration: none;
  padding: 3rem;
  height: 5rem;
  width: 16rem;
  overflow: hidden;
  margin: 25px;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;

  border: 1px solid transparent;
  display: grid;
  span {
    position: absolute;
    display: block;

    &:nth-child(1) {
      height: 3px;
      width: 200px;
      top: 0px;
      left: -200px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
      border-top-right-radius: 1px;
      border-bottom-right-radius: 1px;
      animation: span1 2s linear infinite;
      animation-delay: 1s;
    }
    @keyframes span1 {
      0% {
        left: -200px;
      }
      100% {
        left: 200px;
      }
    }

    &:nth-child(2) {
      height: 70px;
      width: 3px;
      top: -70px;
      right: 0px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      animation: span2 2s linear infinite;
      animation-delay: 2s;
    }

    @keyframes span2 {
      0% {
        top: -70px;
      }
      100% {
        top: 70px;
      }
    }

    &:nth-child(3) {
      height: 3px;
      width: 200px;
      right: -200px;
      bottom: 0px;
      background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
      border-top-left-radius: 1px;
      border-bottom-left-radius: 1px;
      animation: span3 2s linear infinite;
      animation-delay: 3s;
    }
    @keyframes span3 {
      0% {
        right: -200px;
      }
      100% {
        right: 200px;
      }
    }

    &:nth-child(4) {
      height: 70px;
      width: 3px;
      bottom: -70px;
      left: 0px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
      border-top-right-radius: 1px;
      border-top-left-radius: 1px;
      animation: span4 2s linear infinite;
      animation-delay: 4s;
    }
    @keyframes span4 {
      0% {
        bottom: -70px;
      }
      100% {
        bottom: 70px;
      }
    }

    &:last-child {
      place-self: center;
    }
  }
}

// Sponsor
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.text-fill {
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  //   margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  /* Clip Background Image */

  background: url(/images/css/animated-text-fill-purple.webp) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.text-fill-blue {
  background: url(/images/css/animated-text-fill-blue.webp) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.text-fill-light-purple {
  background: url(/images/css/animated-text-fill-light-purple.webp) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.text-fill-navy-blue {
  background: url(/images/css/animated-text-fill-navy-blue.webp) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.feedback {
  right: 0px;
  bottom: 30%;
  transform: translateY(-50%);
  display: block;
  direction: ltr !important;
  margin-top: -20px;
  position: fixed;
  z-index: 12;
}

.feedback-btn {
  border-radius: 4px;
  background-color: #6127ff;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  padding: 0.6rem;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: 600;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: bottom right;

  &:hover {
    box-shadow: 0 0 50px 5px #7c4dfc;
  }
}