.sponsor-container {
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.8rem;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  margin-block: 0.5rem;
}

.parallax span {
  display: block;
  margin-right: 30px;
  position: relative;
}

.parallax span:after {
  content: "";
  position: absolute;

  top: 50%;
  right: -25px;
  transform: translateY(-50%) translateX(-25%);
  width: 12px;
  height: 12px;
  background: #c0c0c0;
  border-radius: 50%;
}
