.fv-h1 {
  font-size: var(--font-size-title-xxl);
  line-height: var(--lh-size-title-xxl);
}

.fv-h2 {
  font-size: var(--font-size-title-xl);
  line-height: var(--lh-size-title-xl);
}

.fv-h3 {
  font-size: var(--font-size-title-l);
  line-height: var(--lh-size-title-l);
}

.fv-h4 {
  font-size: var(--font-size-title-m);
  line-height: var(--lh-size-title-m);
}

.fv-h5 {
  font-size: var(--font-size-title-s);
  line-height: var(--lh-size-title-s);
}

.fv-subtitle {
  font-size: var(--font-size-subtitle);
  line-height: var(--lh-size-subtitle);
}

.fv-p-lg {
  font-size: var(--font-size-display-l);
  line-height: var(--lh-size-display-l);
}

.fv-p {
  font-size: var(--font-size-display-m);
  line-height: var(--lh-size-display-m);
}

.fv-p-sm {
  font-size: var(--font-size-display-s);
  line-height: var(--lh-size-display-s);
}

.caption {
  font-size: var(--font-size-display-compact);
  line-height: var(--lh-size-display-compact);
}
